
.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}
.navbar {
  background-color: #004D99;
  color: white;
  padding: 10px;
  text-align: center;
  font-family: Arial, sans-serif;
}
.navbar h1 {
  margin: 0;
  font-size: 24px;
}
.tagline {
  font-size: 14px;
  margin-top: 5px;
}
.content-container {
  display: flex;
  flex: 1;
}
.sidebar {
  width: 200px;
  background-color: #393941;
  color: white;
  padding: 15px;
  font-family: Arial, sans-serif;
}
.sidebar ul {
  list-style-type: none;
  padding: 0;
}
.sidebar li {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
.sidebar li:hover {
  background-color: #555;
}
.sidebar li svg {
  margin-right: 10px;
}
.main-content {
  flex: 1;
  position: relative;
}
.map-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.visualization-container {
  margin-top: 20px;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
 width: 100%; 
  
}
.percep{
width: 100%;
}
.preciptiation{
width: 100%;

}
.visualization-container img { 
  /* flex: 1; */
  /* height: 100%; */
  height: 407px;
  width: 567px;
} 
.linkk {
  color: white;
}